<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<!--<meta http-equiv="Content-Security-Policy" content="default-src 'self'" />-->
	<title>webpack_typescript</title>
	<style>
		html,
		body {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
            background: #FFF;
		}
        #content {
            width:100%;
            height:100%;
            color: aliceblue;
            background: darkslategray;
            padding: 5px;
            box-sizing: border-box;
        }
	</style>
</head>

<body>
	<div id="content">
		这是一个TypeScript的示例项目，没有页面展示，全部逻辑都在index.ts中，请在调试工具中查看。
	</div>
</body>

</html>
